/* FONTS */

@font-face {
  font-family: "Metropolis Bold";
  src: url("./metropolis.bold.otf");
}

@font-face {
  font-family: "Metropolis Light";
  src: url("./metropolis.light.otf");
}

/* MAIN */
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Metropolis Light", "Times New Roman", Times, serif;
  background-image: url("images/background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  overflow-x: hidden;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: rgb(117, 59, 26);
}

@media (max-width: 40rem) {
  nav ul {
    flex-direction: column;
  }
}

nav li {
  list-style-type: none;
  position: relative;
}

nav li ul {
  position: absolute;
  transform: translateX(-50%);
  top: 100%;
  left: 50%;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s;
}

nav li:hover ul {
  visibility: visible;
  opacity: 1;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Metropolis Bold";
  flex: 1;
}

main {
  padding: 0 200px;
}

@media (max-width: 40rem) {
  main {
    padding: 0 20px;
  }
}

.cover {
  height: calc(100svh - 50px);
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: start;
}

@media (max-width: 40rem) {
  .cover {
    padding-top: 15px;
  }
}

h2 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: left;
}

.paragraph[data-aos="fade-left"] h2 {
  text-align: right;
}

.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph img {
  width: 25vw;
}

@media (max-width: 40rem) {
  .paragraph {
    flex-direction: column;
  }

  .paragraph[data-aos="fade-left"] {
    flex-direction: column-reverse;
  }

  .paragraph[data-aos] h2 {
    text-align: center;
  }
}

p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: justify;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  vertical-align: top;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* UTILITY */

.logo-title {
  width: fit-content;
  display: flex;
  align-items: center;
}

.logo-title img {
  height: 1.5em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
